# Programmation Fonctionnelle - Cours

## Ex 1 : tri par insersion

<u> programmation directe </u>: le tri s'effectue avec une comparaison en "dur" >

In [7]:
def insere(t, i, v):
    """insère v dans t[0..i[ supposé trié"""
    j = i
    while (j>0) and (t[j-1]>v):
        t[j] = t[j-1]
        j = j-1
    t[j] = v
    
def tri_par_insersion(t):
    """trie le tableau t par ordre croissant"""
    for i in range(1, len(t)):
        insere(t, i, t[i])
    return t

In [8]:
tableau = [1, 8, 14, 5, 8, 5]
print(tri_par_insersion(tableau))

[1, 5, 5, 8, 8, 14]

<u> programmation fonctionnelle </u>: le tri s'effectue avec une comparaison en inf(), qui peut donc être différente cela le besoin (un exemple classique est la définition d'une distance en foncçon de la dimension de l'espace)

In [14]:
def insere(inf, t, i, v):
    """insère v dans t[0..i[ supposé trié"""
    j = i
    while (j>0) and not inf(t[j-1], v):
        t[j] = t[j-1]
        j = j-1
    t[j] = v
    
def tri_par_insersion(inf, t):
    """trie le tableau t par ordre croissant"""
    for i in range(1, len(t)):
        insere(inf, t, i, t[i])
    return t

def inf(x, y):
    return x <= y

In [15]:
tableau = [1, 8, 14, 5, 8, 5]
print(tri_par_insersion(inf, tableau))

[1, 5, 5, 8, 8, 14]

## Ex 2 : tableau personne

In [24]:
def insere(inf, t, i, v):
    """insère v dans t[0..i[ supposé trié"""
    j = i
    while (j>0) and not inf(t[j-1], v):
        t[j] = t[j-1]
        j = j-1
    t[j] = v
    
def tri_par_insersion(inf, t):
    """trie le tableau t par ordre croissant"""
    for i in range(1, len(t)):
        insere(inf, t, i, t[i])
    return t

def inf_1(x, y):          # par nom
    return x[0] <= y[0]

def inf_2(x, y):          # pae prenom
    return x[1] <= y[1]

def inf_3(x, y):          # par age
    return x[2] <= y[2]

In [25]:
tableau = [("smith", "john", 37), ("ravel", "carolie", 45), ("bond", "james", 32), ("dragel", "eva", 25)]
print(tri_par_insersion(inf_1, tableau))
print(tri_par_insersion(inf_2, tableau))
print(tri_par_insersion(inf_3, tableau))

[('bond', 'james', 32), ('dragel', 'eva', 25), ('ravel', 'carolie', 45), ('smith', 'john', 37)]
[('ravel', 'carolie', 45), ('dragel', 'eva', 25), ('bond', 'james', 32), ('smith', 'john', 37)]
[('dragel', 'eva', 25), ('bond', 'james', 32), ('smith', 'john', 37), ('ravel', 'carolie', 45)]

## Ex 3 : fonction come résultat (d'une fonction)

In [31]:
def derive(f):
    h = 1e-7
    return lambda x: (f(x+h)-f(x))/h

d_sin = derive(sin)
d_cos = derive(cos)

In [33]:
from math import sin, cos, pi

print(f"sin'(0) = cos(0) = {d_sin(0):.5f}")
print(f"cos'(0) = -sin(0) = {d_cos(0):.5f}")
print(f"sin'(pi/2) = cos(pi/2) = {d_sin(pi/2):.5f}")
print(f"cos'(pi/2) = -sin(pi/2) = {d_cos(pi/2):.5f}")

sin'(0) = cos(0) = 1.00000
cos'(0) = -sin(0) = -0.00000
sin'(pi/2) = cos(pi/2) = -0.00000
cos'(pi/2) = -sin(pi/2) = -1.00000

# Codage - Fiche d'ex

## Ex 36 : fonction trouve

In [5]:
def trouve(p, t):
    """trouve le 1er elt de t telque p(x) est True"""
    for x in t:
        if p(x):
            return x
    return "désolé, je n'ai rien trouvé"

def p(x: int):
    """regarde si x est pair"""
    return not(x%2)

In [6]:
t_1 = [1, 9, 5, 16, 13, 12, 15, 10]
print(trouve(p, t_1))

t_2 = [1, 9, 5, 13, 15]
print(trouve(p, t_2))

16
désolé, je n'ai rien trouvé

— — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —

## Ex 37 : fonction applique

In [12]:
def applique_1(f, t):
    """applique une fonction f à chaque valeur du tableau t"""
    r = []
    for x in t:
        r.append(f(x))
    return r
    
def applique_2(f, t):
    """applique une fonction f à chaque valeur du tableau t"""
    return [f(x) for x in t]

In [13]:
def f(x):
    return 2*x+1


t = [i for i in range(5)]

print(applique_1(f, t))
print(applique_2(f, t))
print(list(map(f, t)))

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

## Ex 39 : fonction double

In [19]:
def double(f):
    return lambda x: f(f(x))

In [20]:
 print(double((lambda x: x/3))(9))

1.0

## Ex 40 : fonction compose

In [22]:
def compose(f,g):
    return lambda x: f(g(x))

In [24]:
f = lambda x: x**2
g = lambda x: 2*x+1
print(compose(f,g)(2))
print(compose(g,f)(2))

25
9

## Ex 42 : fonction repete_pause

In [42]:
from time import sleep

def repete_pause(f, n, t):
    """repete n appels f(0) jusqu'à f(n-1) avec des pauses intermédiaires de temps t"""
    for i in range(n):
        print(f(i), end = " ")
        sleep(t)

In [44]:
repete_pause((lambda i: chr(65+i)), 26, 1)

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z